
.con2 ul li{
    width:45%;
}
.con2 ul li:nth-of-type(4) p{
    background: url("../images/icon08.png") no-repeat right center;
}
.con2 ul li:nth-of-type(8) p{
    background: url("../images/icon08.png") no-repeat right center;
}
.con3 ul li{
    width:45%;
    margin-bottom:20px;
}
.con3 ul li:nth-of-type(2n){
    margin-right:0;
}
.con4 ul li img{
    width:60%;
}
